.react-datepicker {
  font-family: "Pretendard Variable", sans-serif;
  border: none;
  border-radius: 0;
  width: 100%;
}

.react-datepicker__month-container {
  width: 100%;
  border: none;
}

.react-datepicker__aria-live {
  align-items: center;
}

.react-datepicker__header {
  border-bottom-color: #fafafa;
  border-radius: 0;
  background-color: white;
  color: #1e1e1e;
}

.react-datepicker__current-month {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
}

.react-datepicker__day-names {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  padding-inline: 6px;
}

.react-datepicker__day-name {
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #1e1e1e;
}

.react-datepicker__week,
.react-datepicker__week--selected {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.react-datepicker__day,
.react-datepicker__time-name {
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  padding-block: 12px;
  color: #1e1e1e;
}

.react-datepicker__day:hover {
  background-color: transparent !important;
  color: inherit !important;
}

/* 선택된 날짜 파란색 제거 */
.react-datepicker__day--selected {
  background-color: transparent !important;
  color: inherit !important;
}

/* 키보드 포커스 (Tab 이동 등) 시 기본 테두리 제거 */
.react-datepicker__day--keyboard-selected {
  background-color: transparent !important;
  color: inherit !important;
}
.react-datepicker__day--outside-month {
  opacity: 0.2; /* 흐리게 */
  cursor: default;
  pointer-events: none;
}

.react-datepicker__day-name:nth-child(1) {
  color: #ef4444; /* red-500 */
  font-weight: 500;
}

.react-datepicker__day-name:nth-child(7) {
  color: #3b82f6; /* blue-500 */
  font-weight: 500;
}
