@import "tailwindcss";

@theme {
  /* Color Scale */
  --color-main: #bafd4f;
  --color-main-dark: #8ed71b;
  --color-main-disable: #d6ff96;
  --color-alert-red: #ff3b38;

  /* Gray Scale */
  --color-gray-black: #1e1e1e;
  --color-gray-90: #333333;
  --color-gray-80: #454545;
  --color-gray-70: #555555;
  --color-gray-60: #676767;
  --color-gray-50: #767676;
  --color-gray-40: #888888;
  --color-gray-30: #bfbfbf;
  --color-gray-20: #d0d0d0;
  --color-gray-10: #f1f3f5;
  --color-gray-5: #fafafa;
  --color-gray-white: #ffffff;

  /* Font Settings */
  --text-header: 28px;
  --leading-header: 34px;
  --tracking-header: -0.025em;

  --text-title-01: 24px;
  --leading-title-01: 30px;
  --tracking-title-01: -0.025em;

  --text-title-02: 20px;
  --leading-title-02: 25px;
  --tracking-title-02: -0.025em;

  --text-subtitle: 16px;
  --leading-subtitle: 21px;
  --tracking-subtitle: -0.025em;

  --text-body: 16px;
  --leading-body: 21px;
  --tracking-body: -0.025em;

  --text-caption: 14px;
  --leading-caption: 19px;
  --tracking-caption: -0.025em;

  --text-description: 12px;
  --leading-description: 16px;
  --tracking-description: -0.025em;

  --text-tag: 12px;
  --leading-tag: 16px;
  --tracking-tag: -0.025em;

  /* Font Weights */
  --font-weight-header: 700;
  --font-weight-title-01: 700;
  --font-weight-title-02: 600;
  --font-weight-subtitle: 600;
  --font-weight-body: 500;
  --font-weight-caption: 500;
  --font-weight-description: 500;
  --font-weight-tag: 300;
}

/* Typo Settings */
@layer utilities {
  .typo-header {
    font-size: var(--text-header);
    font-weight: var(--font-weight-header);
    line-height: var(--leading-header);
    letter-spacing: var(--tracking-header);
  }

  .typo-title-01 {
    font-size: var(--text-title-01);
    font-weight: var(--font-weight-title-01);
    line-height: var(--leading-title-01);
    letter-spacing: var(--tracking-title-01);
  }

  .typo-title-02 {
    font-size: var(--text-title-02);
    font-weight: var(--font-weight-title-02);
    line-height: var(--leading-title-02);
    letter-spacing: var(--tracking-title-02);
  }

  .typo-subtitle {
    font-size: var(--text-subtitle);
    font-weight: var(--font-weight-subtitle);
    line-height: var(--leading-subtitle);
    letter-spacing: var(--tracking-subtitle);
  }

  .typo-body {
    font-size: var(--text-body);
    font-weight: var(--font-weight-body);
    line-height: var(--leading-body);
    letter-spacing: var(--tracking-body);
  }

  .typo-caption {
    font-size: var(--text-caption);
    font-weight: var(--font-weight-caption);
    line-height: var(--leading-caption);
    letter-spacing: var(--tracking-caption);
  }

  .typo-description {
    font-size: var(--text-description);
    font-weight: var(--font-weight-description);
    line-height: var(--leading-description);
    letter-spacing: var(--tracking-description);
  }

  .typo-tag {
    font-size: var(--text-tag);
    font-weight: var(--font-weight-tag);
    line-height: var(--leading-tag);
    letter-spacing: var(--tracking-tag);
  }
}

body {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  .react-datepicker {
    font-family: "Pretendard Variable", sans-serif;
    border: none;
    border-radius: 0;
    width: 100%;
  }

  .react-datepicker__month-container {
    width: 100%;
    border: none;
  }

  .react-datepicker__aria-live {
    align-items: center;
  }

  .react-datepicker__header {
    border-bottom-color: #fafafa;
    border-radius: 0;
    background-color: white;
    color: #1e1e1e;
  }

  .react-datepicker__current-month {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
  }

  .react-datepicker__day-names {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    padding-inline: 6px;
  }

  .react-datepicker__day-name {
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: #1e1e1e;
  }

  .react-datepicker__week,
  .react-datepicker__week--selected {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .react-datepicker__day,
  .react-datepicker__time-name {
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    padding-block: 12px;
    color: #1e1e1e;
  }

  .react-datepicker__day:hover {
    background-color: transparent !important;
    color: inherit !important;
  }

  /* 선택된 날짜 파란색 제거 */
  .react-datepicker__day--selected {
    background-color: transparent !important;
    color: inherit !important;
  }

  /* 키보드 포커스 (Tab 이동 등) 시 기본 테두리 제거 */
  .react-datepicker__day--keyboard-selected {
    background-color: transparent !important;
    color: inherit !important;
  }
  .react-datepicker__day--outside-month {
    opacity: 0.2; /* 흐리게 */
    cursor: default;
    pointer-events: none;
  }

  .react-datepicker__day-name:nth-child(1) {
    color: #ef4444; /* red-500 */
    font-weight: 500;
  }

  .react-datepicker__day-name:nth-child(7) {
    color: #3b82f6; /* blue-500 */
    font-weight: 500;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: bold;
}

p {
  margin: 0;
}

.react-modal-sheet-backdrop {
  pointer-events: auto !important;
}
